.modal-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  padding-right: 0.5%;
  overflow-y: hidden;
  &.active {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  }
  .modal {
    width: 100%;
    height: 100%;
    max-width: 98%;
    max-height: 88%;
    margin: 1%;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 4px;
    position: relative;
    .close {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 24px;
      line-height: 36px;
      border-radius: 0 4px 0 0;
      background: transparent;
      color: $gray-medium;
      cursor: pointer;
      &:hover {
        background: $gray-dark-bg;
      }
    }
    .object-name {
      // background: $gray-medium-bg;
      border-radius: 0 0 4px 4px;
      position: relative;
      padding: 0;
      margin-bottom: 2px;
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: 0;
    }
    iframe {
      width: 100%;
      max-width: 2500px;
      margin: 0 auto;
      position: absolute;
      width: 100%;
      height: 93%;
      top: 0;
      left: 0;
      margin-top: 3.3%;
      // z-index: -1;
    }
  }
}
